<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shizuru">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=The+Nautigal">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Island+Moments">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vujahday+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <title>Sailchimp Club | <%= title %> </title>
</head>
