<!doctype html>
<html>
    <%- include('./layouts/head.ejs') %>
    <body>
        <h1>404</h1>
        <h3>UH OH! You're lost.</h3>
        <p>The page you are looking for does not exist. Not sure how you steered off course.
            But you can click the button below to sail back to the homepage.
        </p>

        <button>
            <a href="/">Sail Home</a>
        </button>
    </body>
</html>