<!doctype html>
<html>
    <%- include('./layouts/head.ejs') %>
    <body>
        <div class="container-404">
            <div class="img-container-404">

            </div>
            <div class="content-container-404">
                <div class="content-wrapper">
                    <h1>404</h1>
                    <h3>UH OH! You're lost at sea.</h3>
                    <p>The page you are looking for does not exist. Not sure how you steered off course.
                        But you can click the button below to sail back to the homepage.
                    </p>
                    <a href="/">
                        <button>
                            Sail Home
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>