<!doctype html>
<html lang="en">
    <%- include("./layouts/head.ejs") %>
    <body>
        <!-- Header -->
        <%- include("./layouts/nav.ejs") %>

        <!-- Main Section -->
        <section class="main-section style-01">
            <div class="container">
                <div class="block-img" >
                    <img src="http://localhost:3000/assets/images/sailing-boat.png" alt="chimp" width="72" height="72">
                </div>
                <div class="text-block">
                    <h1>What is Sailchimp?</h1>
                    <div class="text">
                        <p>
                            Sailchimp is home to one of the most exclusive, authentic communities in the web. 
                            Everyday, thousands of our clubmembers as well as non-clubmembers around the globe post their
                            thoughts for all to read.
                        </p>
                    </div>
                </div>
                <a href="/sign-in">
                        <% if (user) { %>
                            <button class="btn-defaults btn-1 btn-inactive" disabled>
                                Logged-In
                            </button>
                        <% } else { %> 
                        <button class="btn-defaults btn-1">
                            Log-In
                        </button>
                        <% } %> 
                </a>
                <a href="/sign-up"><button class="btn-defaults btn-2">Sign-Up</button></a>
            </div>
        </section>
        <section class="main-section style-02">
            <div class="container">
                <div class="block-img" >
                    <a href="/posts">
                        <img src="http://localhost:3000/assets/images/helm.png" alt="helm" width="72" height="72">
                    </a>
                </div>
                <div class="text-block">
                    <h1>How Sailchimp Works?</h1>
                </div>
                <div class="text-card-container">
                    <div class="text-card">
                        <div class="block-img" >
                            <a href="/sign-up">
                                <img src="http://localhost:3000/assets/images/account.png" alt="account" width="40" height="40">
                            </a>
                        </div>
                        <h4>Sign-Up</h4>
                        <div class="text">
                            <span>
                               Create an account to begin posting your thoughts and interact with fellow Sailchimpers.
                            </span>
                        </div>
                    </div>
                    <div class="arrow-img-container">
                        <img src="http://localhost:3000/assets/images/right-arrow.png" alt="arrow" width="85" height="85">
                    </div>
                    <div class="text-card">
                        <div class="block-img" >
                            <a href="/posts">
                                <img src="http://localhost:3000/assets/images/writing.png" alt="support" width="40" height="40">
                            </a>
                        </div>
                        <h4>Post</h4>
                        <div class="text">
                            <span>
                                Post your thoughts to share with the Sailchimp community. Only members inside the Sailchimp club can 
                                see who authored the post.
                            </span>
                        </div>
                    </div>
                    <div class="arrow-img-container">
                        <img src="http://localhost:3000/assets/images/right-arrow.png" alt="arrow" width="85" height="85">
                    </div>
                    <div class="text-card">
                        <div class="block-img" >
                            <a href="/posts">
                                <img src="http://localhost:3000/assets/images/support.png" alt="support" width="40" height="40">
                            </a>
                        </div>
                        <h4>Join</h4>
                        <div class="text">
                            <span>
                                Know the secret password? Enter it to become an official member of the Sailchimp club
                               and gain access to exclusive member privileges.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-section style-01">
            <div class="container">
                <div class="block-img" >
                    <img src="http://localhost:3000/assets/images/chimpanzee-head.png" alt="chimp" width="72" height="72">
                </div>
                <div class="text-block">
                    <h1>Sailchimp Founder</h1>
                    <div class="text">
                        <p>
                            Sailchimp was founded in 2022 by Bonzo the sailing chimp, who was born in the coast of Africa.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <%- include("./layouts/footer.ejs") %> 
    </body>
</html>