<!doctype html>
<html lang="en">
    <%- include('./layouts/head.ejs') %>
    <body>
        <!-- Header -->
        <%- include('./layouts/nav.ejs') %> 
        
        <!-- Main section -->
        <section class="join-section">
                <div class="form-wrapper">
                    <h1>Sorry <%= user.username %> !</h1>
                    <h2>That is not the secret password</h2>
                    <div class="join-img">
                        <img src="http://localhost:3000/assets/images/rejection.png" width="200" height="200">
                    </div>
                    <a href="/join-club"><button>Try Again</button></a>
                </div>
            </section>
        </section>

        <!-- Footer -->
        <%- include('./layouts/footer.ejs') %> 
        
    </body>
</html>